.App {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  background-color: #1A1D21;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #d4d3d8;

}

.channelList p {
  color: white;
}

/* chatWindow is a class which is a wrapper for all of the text messages */
div.chatWindow {
  overflow-y: auto;
  background-color: #34393F;
  border-radius: 10px 0 0 10px;
  max-height: 80vh;
}

/* textMessage is a class for all text messages */
.textMessage {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 15px;
}

/* Each text message has two spans, one for the sender and one for the message */
.textMessage span {
  display: block;
  text-align: left;
}

.textMessage span:first-child {
  font-weight: bold;
}

/* green means that the message was sent by the logged in user */
.textMessage.green {
  background-color: #0dbc79;
}

/* grey means the message was sent by anyone but the logged in user */
.textMessage.grey {
  background-color: #d4d3d8;
  color: #000000;
}
.textInput {
  margin: 10px 0;
}

.textInput div[role=textbox] {
  color: #B2B4B5;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #848688;
  background-color: #222529;
}